input {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: url( "../assets/google-search-icon-5.png"
    ) no-repeat scroll 15px 8px;
    background-size: 25px;
    padding-left: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}


#color {
    background-color: white;
}